* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1 {
    padding: 4px;
}

form{
    text-align: center;
    position:absolute;
	left:50%;
	top: 25%;
	margin-left:-110px;
}

ul{
    text-align: center;
    cursor: pointer;
    max-width: 960px;
    margin: 0% auto;
    padding: 18%;
}

.lista{
    text-decoration: line-through; 
}

input {
    padding: 4px;
}

button {
    padding: 4px;
    background-color: rgb(110, 177, 233);
    cursor: pointer;
}